<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>包子</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"
	content="包子" />
<meta name="keywords"
	content="包子" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/jquery.1.10.2.min.js"></script>
</head>
<body class="container">
	<div class="row">
		<div class="col-xs-12">
			<form method="post" id="user">
				请输入用户名:<input name="name" type="text" />
				<input type="submit" value="提交"/>
			</form>
		</div>
	</div>
</body>
</html>